.about-head h1 {
    text-align: center;
    margin: 2rem;
    padding: 1rem;
  }
  
  .about-row {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 10px;
  }
  
  .about-right {
    /* border: 2px solid red; */
    flex-basis: 48%;
    text-align: center;
    padding: 4px;
  }
  
  .about-right img {
    /* border: 2px solid red; */
    width: 70%;
    border-radius: 9px;
  }
  
  .about-left {
    /* border: 2px solid red; */
    flex-basis: 48%;
    /* border: 2px solid #1b1b1b  ; */
    padding: 35px;
  }
  
  .about-left h1 {
    text-align: center;
  }
  
  .about-left p {
    color: rgb(100, 70, 70);
    background-color: #fff3f385;
    padding: 12px;
    border-radius: 9px;
  }