.wrapper{
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 1rem;
    margin-top:20px;
    justify-content: center;
}
.wrapperc{
    width: 35%;
    background: #fff;
    background-color: rgba(20,20,23,0.788);
    color: white;
    padding: 1.5rem;
    border-radius: 8px;
}

.wrapperc > input{
    color: transparent;
}

.wrapperc > textarea{
    resize: vertical; 
    max-height: 200px;
}
.wrapperl{
    width: 40%;
}